body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background: url(../img/mybg.png) #fff;
	direction: ltr
}
aside {
	width: 220px
}

aside {
	display: block;
	overflow: hidden;
	background: #3a3633;
	background: -moz-linear-gradient(left, #3a3633 100%, #2a2725 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(100%, #3a3633),
		color-stop(100%, #2a2725));
	background: -webkit-linear-gradient(left, #3a3633 100%, #2a2725 100%);
	background: -o-linear-gradient(left, #3a3633 100%, #2a2725 100%);
	background: -ms-linear-gradient(left, #3a3633 100%, #2a2725 100%);
	background: linear-gradient(to right, #3a3633 100%, #2a2725 100%);
	min-height: 100%
}

#left-panel {
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 999
}

#child-menu-panel {
	position: absolute;
	top: 0px;
	left: 220px;
	z-index: 999
}

.child-menu {
	position: relative;
	top: 0px;
	left: 500px;
	z-index: 1000
}

.login-info {
	border-bottom: 1px solid #D8D4D4;
	display: block;
	font-size: 12px;
	height: 39px;
	color: #fff;
	border: solid transparent;
	border-width: 1px 0;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07);
	width: 100%;
	margin: 0 !important;
	border-bottom: 1px solid #525151
}

.login-info a {
	text-decoration: none !important;
	color: #a8a8a8;
	display: inline-block;
	margin-top: 6px
}

.login-info a span {
	text-transform: capitalize;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle
}

.login-info a span+i {
	vertical-align: middle
}

.login-info a:hover {
	color: #fff
}

.login-info>span {
	height: 38px;
	display: block;
	padding: 0 10px;
	border-bottom: 1px solid #1A1817
}

.login-info img {
	width: 25px;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	margin-top: 1px;
	margin-right: 5px;
	margin-left: 0;
	border-left: 3px solid #fff
}

img.online,img.busy,img.offline,img.away {
	border-left: 3px solid #fff
}

img.online {
	border-left-color: #40ac2b !important
}

img.busy {
	border-left-color: #ed1c24 !important
}

img.offline {
	border-left-color: #ddd !important
}

img.away {
	border-left-color: #ffc40d !important
}

.login-info,.login-info *,#logo-group *,.minified .menu-item-parent {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

nav ul li a:active {
	background: #616161 !important
}

nav ul {
	width: 100%;
	padding: 40px 28px 25px 0;
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: .5em;
	list-style: none;
	position: relative
}

nav ul .active>a {
	color: #fff !important;
	position: relative
}

nav ul li.active>a:before {
	content: "\f0d9";
	font-family: FontAwesome;
	display: block;
	height: 27px;
	line-height: normal;
	width: 27px;
	position: absolute;
	right: -21px;
	font-size: 20px;
	color: #eee
}

nav ul li.active.open>a:before {
	content: ""
}

nav>ul>li:last-child.open {
	border-bottom: 1px solid rgba(255, 255, 255, .15)
}

nav ul li {
	overflow: hidden
}

nav ul li a {
	line-height: normal;
	font-size: 14px;
	padding: 10px 10px 10px 11px;
	color: #a8a8a8;
	display: block;
	font-weight: 400;
	text-decoration: none !important;
	position: relative
}

nav>ul>li>ul>li>a {
	padding-top: 7px;
	padding-bottom: 7px
}

nav>ul>li>ul>li>ul>li>a {
	padding-top: 7px;
	padding-bottom: 7px
}

nav ul li a:focus {
	color: #c9c9c9
}

nav ul li a:hover {
	color: #fff;
	text-decoration: none
}

nav ul b {
	float: right;
	font-size: 14px;
	margin-top: -1px
}

nav ul span.menu-item-parent {
	display: inline-block;
	margin: 0;
	padding: 0
}

nav ul li.open>a,nav ul li.open>a b {
	color: #fff !important
}

nav>ul>li>a b {
	position: absolute !important;
	right: 10px;
	top: 10px
}

nav>ul>li>a>i {
	margin-right: 5px;
	width: 15px;
	display: inline-block;
	text-align: center;
	position: relative
}

nav>ul>li>a>i>em {
	font-size: 9px;
	display: block;
	padding: 2px;
	position: absolute;
	top: -8px;
	right: -6px;
	text-decoration: none;
	font-style: normal;
	background: #ED1C24;
	color: #fff;
	min-width: 13px;
	border-radius: 50%;
	max-height: 13px;
	line-height: 8px;
	font-weight: 700;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, .1)
}

nav ul li li {
	border-bottom: 0;
	position: relative
}

nav>ul>li>ul::before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	left: 23px;
	top: 0;
	bottom: 0;
	border-left: 1px solid #7A7A7A
}

nav>ul ul li::before {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	left: 23px;
	top: 16px;
	border-top: 1px solid #7A7A7A;
	z-index: 1
}

nav>ul ul ul li::before {
	content: "";
	display: block;
	position: absolute;
	width: 18px;
	left: 10px;
	top: 17px;
	border-top: 1px solid transparent
}

nav>ul ul li a i {
	font-size: 14px !important;
	width: 18px !important;
	text-align: center !important
}

nav>ul>li:hover>ul::before,nav>ul>li:hover>ul>li::before {
	border-color: #ACACAC !important
}

nav ul ul {
	margin: 0;
	padding: 0;
	display: none;
	background: rgba(69, 69, 69, .6)
}

nav ul ul {
	padding: 7px 0
}

nav ul ul ul {
	background: 0 0;
	padding: 0
}

nav ul ul li {
	margin: 0;
	padding: 0
}

nav ul ul li>a {
	padding-left: 42px;
	font-size: 14px;
	font-weight: 400;
	outline: 0
}

nav ul ul li>a:hover {
	background-color: rgba(69, 69, 69, .8);
	color: #fff
}

nav ul ul ul li a {
	color: #bfbfbf;
	padding: 8px 10px 8px 70px;
	font-size: 14px
}

nav ul ul ul li a:hover {
	background-color: #4C4F53;
	color: #fff
}

nav ul ul ul ul li a {
	padding-left: 90px
}

nav ul ul ul ul ul li a {
	padding-left: 110px
}

nav ul ul ul ul ul ul li a {
	padding-left: 130px
}

nav ul ul b {
	color: #B3B3B3
}

nav ul ul>li:hover b {
	color: #D5D9E2
}

.minifyme {
	border-bottom: 1px solid #302F2F;
	background: #454545;
	color: #A8A8A8;
	text-align: center;
	padding: 0;
	width: 36px;
	height: 28px;
	display: block;
	position: absolute;
	right: -3px;
	border-radius: 5px 0 0 5px;
	cursor: pointer;
	margin-top: 5px;
	font-size: 19px;
	transition: all .1s linear 0s
}

.minifyme:hover {
	background: #646464;
	color: #E4E4E4;
	right: 0
}

.minified #left-panel {
	width: 45px
}

.minified .login-info a span,.minified .login-info a i {
	display: none
}

.minified .login-info span {
	padding: 0 5px;
	text-align: center
}

.minified .login-info img {
	margin: -2px 0 0;
	width: 30px
}

.minified .login-info {
	height: 38px;
	border-bottom: 1px solid #181818
}
.minified #left-panel,.minified nav>ul>li {
	overflow: visible
}

.minified nav>ul>ul {
	min-height: 100px !important;
	max-height: 180px !important;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #ed1c24 !important
}

.minified nav>ul>li,.minified nav>ul>li a {
	position: relative
}

.minified nav ul>li>a {
	padding: 10px 11px;
	display: block
}

.minified nav>ul>li>a .fa.fa-fw {
	display: block;
	width: auto;
	text-align: center;
	padding: 0
}

.minified nav>ul>li>a>i {
	text-align: center;
	margin: 0;
	display: block
}

.minified nav>ul>li.active>a::before {
	content: "\f0d9"
}

.minified nav ul ul li a {
	padding-left: 14px
}

.minified nav ul ul li li a {
	padding-left: 25px
}

.minified nav>ul ul li::before {
	left: 12px
}

.minified nav>ul>li>ul::before {
	left: 12px
}

.minified nav>ul>li>a .menu-item-parent,.minified nav>ul>li>a>b {
	display: none
}

.minified nav>ul>li>a>.menu-item-parent {
	display: none;
	position: absolute;
	left: 40px;
	top: -3px;
	width: 186px;
	height: 38px;
	line-height: 38px;
	background-color: #f5f5f5;
	color: #333;
	z-index: 3;
	-webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .2);
	box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .2);
	border-left: 1px solid #bfbfbf;
	border-top: 1px solid #D8D4D4;
	border-bottom: 1px solid #fff;
	padding-left: 12px
}

.minified nav>ul>li>ul {
	display: none !important;
	position: absolute;
	left: 40px;
	width: 200px;
	z-index: 5;
	border: 1px solid #bfbfbf;
	min-height: 180px;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2);
	background: #3A3633;
	margin-top: -3px
}

.minified nav ul>li>ul>li>ul {
	position: relative;
	left: 13px;
	border: 0;
	width: auto;
	margin-left: -12px;
	width: 197px
}

.minified nav>ul>li:hover>a>.menu-item-parent,.minified nav>ul>li:hover>ul
	{
	display: block !important
}

.minified nav>ul>li>ul>li {
	background-color: rgba(69, 69, 69, .9)
}

.minified nav>ul>li>ul>li>ul>li {
	background-color: #484B50
}

.minified nav>ul>li {
	border-bottom: 1px solid #1A1817;
	border-top: 1px solid #525151
}

.minified nav>ul>li>ul::before {
	border-left: 0
}

.minified nav>ul ul li::before {
	border: 0
}